name: "Release"
on:
  release:
    types: [published]
permissions:
  contents: read
jobs:
  build-extension:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            target: linux-x86_64
          - os: ubuntu-22.04-arm
            target: linux-aarch64
          - os: macos-13
            target: macos-x86_64
          - os: macos-14
            target: macos-aarch64
          - os: windows-2019
            target: windows-x86_64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: make loadable
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}
          path: dist/
  dist:
    runs-on: ubuntu-latest
    needs:
      [
        build-extension,
      ]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: dist/
      - uses: asg017/setup-sqlite-dist@73e37b2ffb0b51e64a64eb035da38c958b9ff6c6
      - run: sqlite-dist build 
      - run: |
          gh release upload ${{ github.ref_name }} \
            .sqlite-dist/github_releases/* \
            .sqlite-dist/spm/* \
            .sqlite-dist/sqlpkg/* \
            .sqlite-dist/checksums.txt \
            .sqlite-dist/sqlite-dist-manifest.json \
            .sqlite-dist/install.sh
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      #- run: |
      #    for file in .sqlite-dist/gem/*; do
      #      gem push  "$file"
      #    done
      #  env:
      #    GEM_HOST_API_KEY: ${{ secrets.GEM_HOST_API_KEY }}
      - uses: astral-sh/setup-uv@v7
      - run: |
          uv publish .sqlite-dist/pip/*
          uv publish .sqlite-dist/datasette/*
          uv publish .sqlite-dist/sqlite_utils/*
        env:
          UV_PUBLISH_USERNAME: __token__
          UV_PUBLISH_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - run: |
          VERSION=$(cat VERSION)
          if echo "$VERSION" | grep -q "alpha"; then
            TAG=alpha
          elif echo "$VERSION" | grep -q "beta"; then
            TAG=beta
          else
            TAG=latest
          fi
          npm publish --provenance --access public --tag $TAG .sqlite-dist/npm/sqlite-hello-darwin-arm64.tar.gz
          npm publish --provenance --access public --tag $TAG .sqlite-dist/npm/sqlite-hello-darwin-x64.tar.gz
          npm publish --provenance --access public --tag $TAG .sqlite-dist/npm/sqlite-hello-linux-x64.tar.gz
          npm publish --provenance --access public --tag $TAG .sqlite-dist/npm/sqlite-hello-windows-x64.tar.gz
          npm publish --provenance --access public --tag $TAG .sqlite-dist/npm/sqlite-hello.tar.gz
        env:
          NODE_AUTH_TOKEN: ""
  #upload-hex:
  #  runs-on: ubuntu-latest
  #  needs: [upload-extensions]
  #  steps:
  #    - uses: actions/checkout@v2
  #    - uses: erlef/setup-beam@v1
  #      with:
  #        otp-version: "24"
  #        rebar3-version: "3.16.1"
  #        elixir-version: "1.14"
  #    - run: ./scripts/elixir_generate_checksum.sh "${{ needs.upload-extensions.outputs.checksums }}"
  #    - run: mix deps.get
  #      working-directory: ./bindings/elixir
  #    - run: mix compile --docs
  #      working-directory: ./bindings/elixir
  #    - run: mix hex.publish --yes
  #      working-directory: ./bindings/elixir
  #      env:
  #        HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
  #upload-crate:
  #  runs-on: ubuntu-latest
  #  needs: [upload-extensions]
  #  steps:
  #    - uses: actions/checkout@v2
  #    - uses: actions-rs/toolchain@v1
  #      with:
  #        toolchain: stable
  #    - run: cargo publish --no-verify
  #      working-directory: ./bindings/rust
  #      env:
  #        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
