name: "Release"
on:
  release:
    types: [published]
permissions:
  contents: read
jobs:
  build-linux-x86_64-extension:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - run: make loadable
      - uses: actions/upload-artifact@v3
        with:
          name: sqlite-hello-linux-x86_64-extension
          path: dist/*
  build-macos-x86_64-extension:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - run: make loadable
      - uses: actions/upload-artifact@v3
        with:
          name: sqlite-hello-macos-x86_64-extension
          path: dist/*
  build-macos-aarch64-extension:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - run: make loadable CFLAGS="-target arm64-apple-macos11"
      - uses: actions/upload-artifact@v3
        with:
          name: sqlite-hello-macos-aarch64-extension
          path: dist/*
  build-windows-x86_64-extension:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3
      - run: make loadable
      - uses: actions/upload-artifact@v3
        with:
          name: sqlite-hello-windows-x86_64-extension
          path: dist/*
  upload-extensions:
    needs:
      [
        build-linux-x86_64-extension,
        build-macos-x86_64-extension,
        build-macos-aarch64-extension,
        build-windows-x86_64-extension,
      ]
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - uses: asg017/upload-spm@main
        with:
          name: sqlite-hello
          github-token: ${{ secrets.GITHUB_TOKEN }}
          platforms: |
            macos-x86_64: sqlite-hello-macos-x86_64-extension/*.dylib
            macos-aarch64: sqlite-hello-macos-aarch64-extension/*.dylib
            linux-x86_64: sqlite-hello-linux-x86_64-extension/*.so
            windows-x86_64: sqlite-hello-windows-x86_64-extension/*.dll
