name: "build"
on:
  push:
    branches:
      - main
permissions:
  contents: read
env:
  project: sqlite-hello
jobs:
  build:
    strategy:
      matrix:
        targets:
          - platform: linux-x86_64
            os: ubuntu-20.04
          - platform: windows-x86_64
            os: windows-2019
          - platform: macos-x86_64
            os: macos-11
    name: ${{ matrix.targets.platform }} build
    runs-on: ${{ matrix.targets.os }}
    steps:
      - uses: actions/checkout@v3
      - run: make loadable
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.project }}-${{ matrix.targets.platform }}
          path: dist/*
